/************ IMAGES ******************/
img {
  width: 175px;
  height: 175px;
}

/************ HEADINGS *****************/

header {  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
    }

h1 {
      color: white;
      font-size: 100px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: grey;
    }

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkblue;
  background-color: lightgray;
  max-width: 600px;
  align-content: center;
} 

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px 0;
  color: white;
}

p {
  font-size: 80px;
  font-weight: bolder;
  color: darkblue;
  background-color: lightgray;
  max-width: 600px;
}

/************BUTTON DEFINITIONS ******************/
button {
  margin: 10px;
}

button:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: white;
 }

/************ MY COUNTS ******************/
.myTotals li {
  list-style: none;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  background-color: gray;
}

.myTotals ul {
  list-style: none;
  padding: 10px;
  background-color: gray;
  margin: 10px;
}

@media (max-width: 200px) {
  .myTotals li {
    padding: 25px;}
}

@media (max-width: 200px) {
  .myTotals ul {
    padding: 25px;}
}

@media (max-width: 991.98px) {
  .body {
  padding: 25px;}
};

@media (max-width: 991.98px) {
  .header {
    padding: 25px;}
};

@media (max-width: 991.98px) {
  .h2 {
    padding: 25px;}
};

@media (max-width: 991.98px) {
  .head {
    padding: 25px;}
};

@media (width: 100px) {
  .card { 
    padding: 25px;}
}
