/************ IMAGES ******************/
img {
  width: 200px;
  height: 200px;
}

/************ HEADINGS ******************/

header {  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
    }


h2, h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px 0;
  color: white;
}

h1 {
  color: white;
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: grey;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
}

p {
  font-size: 1.6em;
  font-weight: normal;
  color: blue;
}


/************BUTTON DEFINITIONS ******************/
button {
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
 }

/************ MY COUNTS ******************/
.myTotals li {
  list-style: none;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 10px;
  background-color: gray;
}

@media (max-width: 200px) {
  .myTotals li {
  padding: 0 0 0 25px;}
}

@media (max-width: 991.98px) {
  .body {
  padding: 0 0 0 25px;}
};

@media (width: 100px) {
  .card { 
    padding: 0 0 0 25px;}
}
